<%= cache("topics/#{current_user.try(:role) || 'non_member'}", expires_in: 6.hours) do %>
<h1>Listing topics (<%= @topics.count %>)</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Visible</th>
    <th>Actions</th>
  </tr>
<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.content %></td>
    <td><%= topic.visible %></td>
    <td>
      <%= link_to 'Show', topic %>
      <%= link_to 'Edit', edit_topic_path(topic) if can? :update, Topic %>
      <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Topic%>
    </td>
  </tr>
<% end %>
</table>


<%= link_to 'New Topic', new_topic_path if can? :create, Topic %>
<% end %>